@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
  color: #fff;
}

.home .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.home .nav .logo {
  font-size: 3rem;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff;
  color: #fff;
}

.home .content {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(255, 0, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.home .game-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 1rem;
  text-align: center;
  outline: none;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.score button {
  margin-top: 1rem;
  width: 100%;
  padding:9px 12px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  background: #ff00ff;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 0px 10px rgba(255, 0, 255, 0.5);
}

.score button:hover {
  background: #d900d9;
  box-shadow: 0px 0px 15px rgba(255, 0, 255, 0.8);
}

.player-list {
  margin-top: 20px;
  text-align: center;
}

.player-list ul {
  list-style: none;
  padding: 0;
}

.player-list li {
  font-size: 1.2rem;
  margin: 5px 0;
}

.home .outcomes {
  margin-top: 2rem;

  max-width: 600px;

  width: 100%;

  max-height:400px;

  overflow-y:scroll;

}

.home .outcomes table {
  width: 100%;

  border-collapse: collapse;
}

.home .outcomes table thead {
  border-bottom: 1px solid #ccc;
  background: #ff00ff;
}


.home .outcomes table thead p{
    font-weight:800;
    letter-spacing:2px;
}
.home .outcomes table thead td {
  padding: 10px 1rem;
}

.home .outcomes table td {
  text-align: center;
}

.home .outcomes table tbody td {
  width: 100px;
  padding: 10px 1rem;
  border: 1px solid #ccc;
}
